# PostgreSQL Database
POSTGRES_DB=lb_db
POSTGRES_USER=lb_user
POSTGRES_PASSWORD=MLwNXtCr8lGjab7vhA7UWKw1J2uePa

# JWT
JWT_SECRET=bI4auiAvtjZSGmq5ZmAET1hIwQ6a97vIxjXd9TauCxXPWlEBZzOtGET29kGtMUjJ

# Telegram Bot
TELEGRAM_BOT_TOKEN=8190441078:AAED8F24Kv-TWl5ISYsz3QR8CRtkUMOimy4

# Server URLs
API_URL=http://localhost:60000
CRM_API_URL=http://localhost:60001

# Frontend URLs
VITE_API_URL=/api
VITE_CRM_API_URL=/crm-api

# SSL (для production)
SSL_CERTIFICATE_PATH=/etc/letsencrypt/live/app.5lb.pro/fullchain.pem
SSL_CERTIFICATE_KEY_PATH=/etc/letsencrypt/live/app.5lb.pro/privkey.pem

# Domain names
DOMAIN_APP=app.5lb.pro
DOMAIN_CRM=crm.5lb.pro
